body {
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
  color: white;
  margin: 0;
  font-family: Andale Mono, AndaleMono, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin-top: 10rem;
  margin-left: 5rem;
}

a {
  text-decoration: none;
  margin: 5rem;
  color: white;
}

a:hover {
  color: rgb(238, 130, 238);
}

.Navbar {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.name {
  color: rgb(238, 130, 238);
}

label {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.contactEmail {
  display: flex;
  flex-flow: column;
}

.contactEmail input {
  margin: auto;
  background-color: rgb(147, 112, 219);
  display: flex;
  justify-content: center;
  color: white;
  border: 0px;
}

.contactEmail input.inputEmail {
  width: 400px;
}

.contactEmail textarea {
  margin: auto;
  height: 185px;
  width: 600px;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: rgb(147, 112, 219);
  display: flex;
  justify-content: center;
  color: white;
  border: 1px solid rgb(216, 191, 216);
  box-shadow: 5px 5px 5px rgb(216, 191, 216);
}

.send {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.send:hover {
  background-color: white;
  color: rgb(238, 130, 238);
}

/*code {
  font-family: Andale Mono, AndaleMono, monospace;
}*/