body {
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
  color: white;
  margin: 0;
  font-family: Andale Mono, AndaleMono, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin-top: 10rem;
  margin-left: 5rem;
}

a {
  text-decoration: none;
  margin: 5rem;
  color: white;
}

.Navbar {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

/*code {
  font-family: Andale Mono, AndaleMono, monospace;
}*/