body {
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
  max-width: 100%;
  color: white;
  margin: 0;
  font-family: Andale Mono, AndaleMono, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intro {
  margin-top: 10rem;
  margin-left: 5rem;
}

a {
  margin: 5rem;
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(238, 130, 238);
}

strong {
  color: rgb(238, 130, 238);
}

label {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

/* NAVBAR */
.burger {
  display: none;
}

.navigation-menu ul {
  display: none;
}

.navbarPC {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.GitHubCalendar {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

/* END NAVBAR */
/* EMAIL */
.contactEmail {
  display: flex;
  flex-flow: column;
}

.contactEmail input {
  margin: auto;
  background-color: rgb(147, 112, 219);
  display: flex;
  justify-content: center;
  color: white;
  border: 0px;
}

.contactEmail input.inputEmail {
  width: 400px;
}

.contactEmail textarea {
  margin: auto;
  height: 185px;
  width: 600px;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: rgb(147, 112, 219);
  display: flex;
  justify-content: center;
  color: white;
  border: 1px solid rgb(216, 191, 216);
  box-shadow: 5px 5px 5px rgb(216, 191, 216);
}

.send {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.send:hover {
  background-color: white;
  color: rgb(238, 130, 238);
}

/* END EMAIL */

@media screen and (max-width: 600px) {
  .intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  section {
    width: 90%;
    margin: auto;
  }

  hr {
    width: 90%;
  }

  h1 {
    font-size: larger;
  }

  .navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .burger {
    background-color: rgb(147, 112, 219);
    padding: 0;
    display: block;
    position: relative;
    height: 2.5rem;
    border: none;
    cursor: pointer;
  }

  .burger svg {
    height: 100%;
  }

  .navigation-menu {
    display: none;
  }

  .navigation-menu.expanded {
    display: block;
  }

  .navigation-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    white-space: nowrap;
    background-color: rgb(147, 112, 219);
    border-top: 1px solid black;
  }

  .navigation-menu li {
    padding: 1.5rem;
    margin: 0;
    text-align: center;
  }

  .navigation-menu li a {
    padding: 1.5rem;
    margin: 0;
  }

  .navbarPC {
    display: none;
  }

  .contactEmail {
    margin: 0;
  }

  .contactEmail input.inputEmail {
    width: auto;
  }

  .contactEmail textarea {
    max-width: 200px;
    height: 150px;
    width: 100%;
  }

  .GitHubCalendar {
    margin: auto;
    margin-top: 3rem;
    width: 90%;
  }
}

/*code {
  font-family: Andale Mono, AndaleMono, monospace;
}*/